#image {
    padding-top: 100px;

}

.register{
    background: white;
   border-radius: 2px;
   border: 1px solid white;
   box-shadow: 0 0 10px rgb(230, 230, 230);

}

.headerImage {
    position: relative;
    width: 20%;
    height: auto;
    margin-top: -50px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 188px;
    margin-top: 50px;

}

.box {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    padding: 0px 20px 20px 20px;
    border: 1px solid rgb(66, 65, 65);
    justify-content: center;

    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    width: 45%;
    text-align: left;
    margin-top: -60px;


}



.login {
    background: linear-gradient(to top right, #0099ff 38%, #33ccff 80%);
    border-radius: 2px;
    border: 1px solid #0099ff;
    color: white;
    box-shadow: 0 0 10px #9ecaed;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.divContainer {
    margin-top: 5%
}

.input {
    height: 30px;
    border: 2px solid #dadada;
    border-radius: 7px;
    font-size: 20px;
    padding: 5px;
}

button:hover {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;

}

.input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

#head {
    text-align: center;
}

.signup {
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width:858px) {
    .box {
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        padding: 20px 20px 20px 20px;
        border: 1px solid rgb(66, 65, 65);
        box-shadow: 0 0 10px rgb(82, 82, 82);
        justify-content: center;

        font-size: 25px;
        font-family: 'Courier New', Courier, monospace;
        width: 40%;
        text-align: left;


    }
}

@media screen and (max-width:527px) {
    .box {
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        padding: 20px 20px 20px 20px;
        border: 1px solid rgb(66, 65, 65);
        box-shadow: 0 0 10px rgb(82, 82, 82);
        justify-content: center;

        font-size: 25px;
        font-family: 'Courier New', Courier, monospace;
        width: 50%;
        text-align: left;


    }
}

@media screen and (max-width:420px) {
    .box {
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        padding: 20px 20px 20px 20px;
        border: 1px solid rgb(66, 65, 65);
        box-shadow: 0 0 10px rgb(82, 82, 82);
        justify-content: center;

        font-size: 25px;
        font-family: 'Courier New', Courier, monospace;
        width: 50%;
        text-align: left;



    }

    .divContainer {
        margin-top: 10%
    }
}

@media screen and (max-width:400px) {
    .box {
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        padding: 20px 20px 20px 20px;
        border: 1px solid rgb(66, 65, 65);
        box-shadow: 0 0 10px rgb(82, 82, 82);
        justify-content: center;

        font-size: 25px;
        font-family: 'Courier New', Courier, monospace;
        width: 70%;
        text-align: left;



    }

}
@media screen and (max-width:320px){
    .headerImage {
        width: 50%;
        height: 60%;
        margin-bottom: 10px;
    }
}
@media screen and (max-width:420px){
    .headerImage {
        width: 50%;
        height: 60%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:848px){
    .headerImage {
        position: relative;
        margin-top: -20px;
        width: 30%;
        height: 40%;
        margin-bottom: 10px;
    }
}